---
// const platform = "github";
// const username = "MaitreWaff";
import Social from "./Social.astro";
---
  <style>

    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  
  </style>

<footer>

  <!-- <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p> -->

  <Social platform="twitter" username="MaitreWaff" />
  <Social platform="github" username="MaitreWaff" />
  <Social platform="youtube" username="MaitreWaff" />
</footer>
